@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  width: 400px;
  border-radius: 30px;
  padding: 30px;
  background: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 70px;
}

.container h2 {
  color: #666;
  font-weight: 500;
}

.container .inputArea {
  position: relative;
  width: 100%;
}

.container .inputArea input {
  position: relative;
  width: 100%;
  background: #222;
  border: none;
  outline: none;
  padding: 10px;
  color: aliceblue;
  font-size: 1.1em;
}

.container .strengthMeter {
  position: relative;
  width: 100%;
  height: 3px;
  background: #222;
}

.container .strengthMeter::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #f00;
}

.container .strengthMeter::after {
  position: absolute;
  top: 10px;
  left: 30px;
  transition: 0.5s;
  color: aliceblue;
}

.container.weak .strengthMeter::after {
  content: "Weak Password";
  color: #f00;
  filter: drop-shadow(0 0 5px #f00);
}

.container.moderate .strengthMeter::after {
  content: "Moderate Password";
  color: #eedc3d;
  filter: drop-shadow(0 0 5px #eedc3d);
}

.container.strong .strengthMeter::after {
  content: "Strong Password";
  color: #18e605;
  filter: drop-shadow(0 0 5px #18e605);
}

.show {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background: #333;
  border: 6px solid #222;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show::before {
  content: "Show";
  font-size: 0.6em;
  color: aliceblue;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.show.hide::before {
  content: "Hide";
}
